
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/49FBB69E-contents
ECO6416/.Rproj.user/CA2E5524/sources/prop/0E4D1F7A
ECO6416/.Rproj.user/CA2E5524/sources/prop/61AAB69E
ECO6416/.Rproj.user/CA2E5524/sources/prop/INDEX
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/5A9AD4D6-contents
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/9A244374-contents
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/E41E6BD1-contents
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/lock_file
ECO6416/.Rproj.user/shared/notebooks/patch-chunk-names
ECO6416/.Rproj.user/shared/notebooks/paths
.Rproj.user/CA2E5524/pcs/files-pane.pper
.Rproj.user/CA2E5524/pcs/source-pane.pper
.Rproj.user/CA2E5524/pcs/windowlayoutstate.pper
.Rproj.user/CA2E5524/pcs/workbench-pane.pper
.Rproj.user/CA2E5524/rmd-outputs
.Rproj.user/CA2E5524/saved_source_markers
.Rproj.user/CA2E5524/sources/prop/0E4D1F7A
.Rproj.user/CA2E5524/sources/prop/61AAB69E
.Rproj.user/CA2E5524/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rhistory
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/lock_file
01-GettingStaRted/.Rproj.user/shared/notebooks/patch-chunk-names
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/5E164BC0
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/INDEX
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-5F63E304/8C2640B1
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-5F63E304/8C2640B1-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-5F63E304/lock_file
01-GettingStaRted/.Rproj.user/shared/notebooks/paths
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/s/chunks.json
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/8A371A36-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/8A371A36
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/5E588BC2-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/5E588BC2
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/2D245CB7
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/2B2E93FF
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/11F8850B
01-GettingStaRted/.Rproj.user/CA2E5524/sources/per/t/E1BB0088-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/per/t/E1BB0088
01-GettingStaRted/.Rproj.user/CA2E5524/saved_source_markers
01-GettingStaRted/.Rproj.user/CA2E5524/rmd-outputs
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/workbench-pane.pper
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/windowlayoutstate.pper
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/source-pane.pper
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/files-pane.pper
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/s/csetup_chunk/00000f.csv
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/s/cpgrg48dkh4u5/00000f.rdf
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/s/cpgrg48dkh4u5/00000f.metadata
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/s/c21dozqbvwhak/000011.csv
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/CA2E55249AA24FBA/chunks.json
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/B09A2A6A-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/B09A2A6A
01-GettingStaRted/.Rproj.user/CA2E5524/jobs/DCC837F5-output.json
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/A3000734-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/7B8F30A7
01-GettingStaRted/.Rproj.user/CA2E5524/jobs/3F1FAE55-output.json
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/0997177C
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/1EEFBDBB
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/80EB8907
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/8648C704
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/8B9613D8
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/B078265C
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/E379E59E
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/E481D8DB
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/EC9D3A26
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/F9CAEF9E
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/INDEX
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/13F94F2F-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/15A653E4-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/1C33C1AA-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/20A33166-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/285DAE4C-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/760D013C-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/9FAD19F3-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/A3D6B880
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/A3D6B880-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/BD41B02D-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/C99E6954
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/C99E6954-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/CEF491BD-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/E567891B-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/F98C82D9-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/lock_file
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/CA2E5524C0200FA8/chunks.json
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c2zpclcd6gvrl/00000f.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c2zpclcd6gvrl/000010.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c2zpclcd6gvrl/000010.png
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c2zpclcd6gvrl/000010.snapshot
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c77l8i7he5ri7/000011.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c86r6cim6qsi8/000019.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c86r6cim6qsi8/000019.png
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c86r6cim6qsi8/000019.snapshot
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/chunks.json
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cia36ar64sesr/00000f.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cia36ar64sesr/000010.html
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cia36ar64sesr/000010.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cia36ar64sesr/000011.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/ckanp647tgj0l/000011.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/ckanp647tgj0l/000012.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/ckanp647tgj0l/000012.png
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/ckanp647tgj0l/000012.snapshot
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cm1ub5cespdtb/000011.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cngv9g8r5ud18/00000b.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cngv9g8r5ud18/00000d.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cngv9g8r5ud18/00000e.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cngv9g8r5ud18/00000e.png
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cngv9g8r5ud18/00000e.snapshot
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/crlfktp6ixik1/000003.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/crlfktp6ixik1/000003.png
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/crlfktp6ixik1/000003.snapshot
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/csetup_chunk/00000f.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/css/crosstalk.min.css
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/js/crosstalk.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/js/crosstalk.js.map
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/js/crosstalk.min.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/js/crosstalk.min.js.map
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/scss/crosstalk.scss
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/htmlwidgets-1.5.4/htmlwidgets.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/jquery-3.5.1/jquery-AUTHORS.txt
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/jquery-3.5.1/jquery.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/jquery-3.5.1/jquery.min.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/jquery-3.5.1/jquery.min.map
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/plotly-binding-4.10.0/plotly.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/plotly-htmlwidgets-css-2.5.1/plotly-htmlwidgets.css
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/plotly-main-2.5.1/plotly-latest.min.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/typedarray-0.1/typedarray.min.js
02-BasicStatistics/.Rproj.user/shared/notebooks/CEF3105E-InclassExercise1/1/CA2E5524C0200FA8/chunks.json
02-BasicStatistics/.Rproj.user/shared/notebooks/CEF3105E-InclassExercise1/1/s/chunks.json
02-BasicStatistics/.Rproj.user/shared/notebooks/patch-chunk-names
02-BasicStatistics/.Rproj.user/shared/notebooks/paths
03-SimpleRegression/.Rproj.user/shared/notebooks/paths
03-SimpleRegression/.Rproj.user/shared/notebooks/patch-chunk-names
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/czzapyd18xc8i/00001a.snapshot
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/czzapyd18xc8i/00001a.png
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/czzapyd18xc8i/00001a.metadata
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/czzapyd18xc8i/000019.csv
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/czzapyd18xc8i/000017.csv
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/cxsgk9zh910nl/00000f.csv
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/csetup_chunk/00000f.csv
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/cr1xa9bsvrh6u/00000f.csv
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/chunks.json
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/ch18mzjajdty5/000015.csv
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/cer0h96mf6z4w/00000f.csv
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/cbn4bnmbbl053/000016.snapshot
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/cbn4bnmbbl053/000016.png
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/cbn4bnmbbl053/000016.metadata
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/cbn4bnmbbl053/000015.csv
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/cbn4bnmbbl053/000013.csv
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/s/c343g4qqg3n2z/00000f.csv
03-SimpleRegression/.Rproj.user/shared/notebooks/B130ABE4-InclassExercise2/1/CA2E55243038C81E/chunks.json
03-SimpleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/lock_file
03-SimpleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/ECEE3F3A-contents
03-SimpleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/BBA3E74F-contents
03-SimpleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/BBA3E74F
03-SimpleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/B3B47A21-contents
03-SimpleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/B3B47A21
03-SimpleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/80C7E9D3-contents
03-SimpleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/80C7E9D3
03-SimpleRegression/.Rproj.user/CA2E5524/sources/prop/INDEX
03-SimpleRegression/.Rproj.user/CA2E5524/sources/prop/41135D33
03-SimpleRegression/.Rproj.user/CA2E5524/sources/prop/2080B753
04-MultipleRegression/.Rproj.user/shared/notebooks/paths
04-MultipleRegression/.Rproj.user/shared/notebooks/patch-chunk-names
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/csetup_chunk/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cqmubroemhyza/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cmax3woctc127/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/chunks.json
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/c1tc48ljp07sd/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/CA2E55243038C81E/chunks.json
04-MultipleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/lock_file
04-MultipleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/F8EB9FFE-contents
04-MultipleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/87EFA83B-contents
04-MultipleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/7484D02C-contents
04-MultipleRegression/.Rproj.user/CA2E5524/sources/s-3038C81E/7484D02C
04-MultipleRegression/.Rproj.user/CA2E5524/sources/prop/INDEX
04-MultipleRegression/.Rproj.user/CA2E5524/sources/prop/A737FFB0
03-SimpleRegression/.Rproj.user/CA2E5524/viewer-cache/42805797.Rdata
03-SimpleRegression/.Rproj.user/CA2E5524/sources/per/t/BBA3E74F-contents
03-SimpleRegression/.Rproj.user/CA2E5524/sources/per/t/BBA3E74F
03-SimpleRegression/.Rproj.user/CA2E5524/sources/per/t/B3B47A21-contents
03-SimpleRegression/.Rproj.user/CA2E5524/sources/per/t/B3B47A21
03-SimpleRegression/.Rproj.user/CA2E5524/sources/per/t/80C7E9D3-contents
03-SimpleRegression/.Rproj.user/CA2E5524/sources/per/t/80C7E9D3
03-SimpleRegression/.Rproj.user/CA2E5524/saved_source_markers
03-SimpleRegression/.Rproj.user/CA2E5524/rmd-outputs
03-SimpleRegression/.Rproj.user/CA2E5524/pcs/workbench-pane.pper
03-SimpleRegression/.Rproj.user/CA2E5524/pcs/windowlayoutstate.pper
03-SimpleRegression/.Rproj.user/CA2E5524/pcs/source-pane.pper
03-SimpleRegression/.Rproj.user/CA2E5524/pcs/files-pane.pper
04-MultipleRegression/.Rproj.user/CA2E5524/sources/s-B9057AA0/7484D02C
04-MultipleRegression/.Rproj.user/CA2E5524/sources/s-B9057AA0/7484D02C-contents
04-MultipleRegression/.Rproj.user/CA2E5524/sources/s-B9057AA0/87EFA83B-contents
04-MultipleRegression/.Rproj.user/CA2E5524/sources/s-B9057AA0/F8EB9FFE-contents
04-MultipleRegression/.Rproj.user/CA2E5524/sources/s-B9057AA0/lock_file
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/CA2E5524B9057AA0/chunks.json
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cwu19t3st9m6w/000010.snapshot
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cwu19t3st9m6w/000010.png
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cwu19t3st9m6w/000010.metadata
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cwu19t3st9m6w/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cv2e1igtr3zg9/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/coj7ymhacqfy3/000012.rdf
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/coj7ymhacqfy3/000012.metadata
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/coj7ymhacqfy3/000011.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/coj7ymhacqfy3/000010.rdf
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/coj7ymhacqfy3/000010.metadata
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/coj7ymhacqfy3/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cm8kvza7d5x31/000010.snapshot
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cm8kvza7d5x31/000010.png
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cm8kvza7d5x31/000010.metadata
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cm8kvza7d5x31/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/ckm8traztb27u/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cklp8u0w7uf9v/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cgv0777uecmnc/000010.metadata
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cgv0777uecmnc/000010.html
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cgv0777uecmnc/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/cguegftdsz49k/00000f.csv
04-MultipleRegression/.Rproj.user/shared/notebooks/DBD4515C-MultipleRegression/1/s/c87fh3wbviznc/00000f.csv
04-MultipleRegression/.Rproj.user/CA2E5524/sources/per/t/7484D02C-contents
04-MultipleRegression/.Rproj.user/CA2E5524/sources/per/t/7484D02C
04-MultipleRegression/.Rproj.user/CA2E5524/saved_source_markers
04-MultipleRegression/.Rproj.user/CA2E5524/rmd-outputs
04-MultipleRegression/.Rproj.user/CA2E5524/pcs/workbench-pane.pper
04-MultipleRegression/.Rproj.user/CA2E5524/pcs/windowlayoutstate.pper
04-MultipleRegression/.Rproj.user/CA2E5524/pcs/source-pane.pper
04-MultipleRegression/.Rproj.user/CA2E5524/pcs/files-pane.pper
05-InferentialStatistics/.Rproj.user/CA2E5524/pcs/files-pane.pper
05-InferentialStatistics/.Rproj.user/CA2E5524/pcs/source-pane.pper
05-InferentialStatistics/.Rproj.user/CA2E5524/pcs/windowlayoutstate.pper
05-InferentialStatistics/.Rproj.user/CA2E5524/pcs/workbench-pane.pper
05-InferentialStatistics/.Rproj.user/CA2E5524/rmd-outputs
05-InferentialStatistics/.Rproj.user/CA2E5524/saved_source_markers
05-InferentialStatistics/.Rproj.user/CA2E5524/sources/per/t/0355529A
05-InferentialStatistics/.Rproj.user/CA2E5524/sources/per/t/0355529A-contents
05-InferentialStatistics/.Rproj.user/CA2E5524/sources/per/u/DF058212
05-InferentialStatistics/.Rproj.user/CA2E5524/sources/per/u/DF058212-contents
05-InferentialStatistics/.Rproj.user/CA2E5524/sources/prop/6A7CAA65
05-InferentialStatistics/.Rproj.user/CA2E5524/sources/prop/DB4E2FD2
05-InferentialStatistics/.Rproj.user/CA2E5524/sources/prop/INDEX
05-InferentialStatistics/.Rproj.user/CA2E5524/unsaved-notebooks/1/00000f.csv
05-InferentialStatistics/.Rproj.user/CA2E5524/unsaved-notebooks/1/000010.error
05-InferentialStatistics/.Rproj.user/CA2E5524/unsaved-notebooks/1/000011.csv
05-InferentialStatistics/.Rproj.user/CA2E5524/unsaved-notebooks/1/execution.lock
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/CA2E55242019D230/chunks.json
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/CA2E5524DBFCB460/c006kqgvzt1e0/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/CA2E5524DBFCB460/chn14pjv981qc/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/CA2E5524DBFCB460/chunks.json
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/CA2E5524DBFCB460/cjbl8r4sv2ky7/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/CA2E5524DBFCB460/ckrh8l4zx6mse/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/CA2E5524DBFCB460/clgrqg049ra7f/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/CA2E5524DBFCB460/cn6jjpmy7krpz/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/CA2E5524DBFCB460/cq8qjh4k9zwv9/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/CA2E5524DBFCB460/cynjmes3yjorw/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/s/c1o072keca96v/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/s/cfp9r9m4g6xpv/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/s/chn14pjv981qc/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/s/chunks.json
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/s/ck0bkf3b5qcei/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/s/cn6jjpmy7krpz/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/s/cq8qjh4k9zwv9/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/s/csetup_chunk/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/D1E0AF2D-InferentialStatistics/1/s/cynjmes3yjorw/00000f.csv
05-InferentialStatistics/.Rproj.user/shared/notebooks/patch-chunk-names
05-InferentialStatistics/.Rproj.user/shared/notebooks/paths
06-DummyVariables/.Rproj.user/CA2E5524/sources/prop/B32197F0
06-DummyVariables/.Rproj.user/CA2E5524/sources/prop/INDEX
06-DummyVariables/.Rproj.user/CA2E5524/sources/s-DD97CFBF/2FAD524E-contents
06-DummyVariables/.Rproj.user/CA2E5524/sources/s-DD97CFBF/31B69FD2
06-DummyVariables/.Rproj.user/CA2E5524/sources/s-DD97CFBF/31B69FD2-contents
06-DummyVariables/.Rproj.user/CA2E5524/sources/s-DD97CFBF/7CAD30CF-contents
06-DummyVariables/.Rproj.user/CA2E5524/sources/s-DD97CFBF/E2A7E6E5-contents
06-DummyVariables/.Rproj.user/CA2E5524/sources/s-DD97CFBF/EF9B005F
06-DummyVariables/.Rproj.user/CA2E5524/sources/s-DD97CFBF/EF9B005F-contents
06-DummyVariables/.Rproj.user/CA2E5524/sources/s-DD97CFBF/lock_file
06-DummyVariables/.Rproj.user/shared/notebooks/D697918A-DummyVariables/1/CA2E5524DD97CFBF/chunks.json
06-DummyVariables/.Rproj.user/shared/notebooks/D697918A-DummyVariables/1/s/c1exbnuu2oi23/00000f.csv
06-DummyVariables/.Rproj.user/shared/notebooks/D697918A-DummyVariables/1/s/c5nqtl1emts35/000011.csv
06-DummyVariables/.Rproj.user/shared/notebooks/D697918A-DummyVariables/1/s/chunks.json
06-DummyVariables/.Rproj.user/shared/notebooks/D697918A-DummyVariables/1/s/co5hwtggy6per/00000f.csv
06-DummyVariables/.Rproj.user/shared/notebooks/D697918A-DummyVariables/1/s/csetup_chunk/00000f.csv
06-DummyVariables/.Rproj.user/shared/notebooks/D697918A-DummyVariables/1/s/cto10w3purvxu/00000f.csv
06-DummyVariables/.Rproj.user/shared/notebooks/D697918A-DummyVariables/1/s/cuhmv8mehigw7/00000f.csv
06-DummyVariables/.Rproj.user/shared/notebooks/D697918A-DummyVariables/1/s/czcoihej32rar/000011.csv
06-DummyVariables/.Rproj.user/shared/notebooks/patch-chunk-names
06-DummyVariables/.Rproj.user/shared/notebooks/paths
