
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/49FBB69E-contents
ECO6416/.Rproj.user/CA2E5524/sources/prop/0E4D1F7A
ECO6416/.Rproj.user/CA2E5524/sources/prop/61AAB69E
ECO6416/.Rproj.user/CA2E5524/sources/prop/INDEX
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/5A9AD4D6-contents
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/9A244374-contents
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/E41E6BD1-contents
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/lock_file
ECO6416/.Rproj.user/shared/notebooks/patch-chunk-names
ECO6416/.Rproj.user/shared/notebooks/paths
.Rproj.user/CA2E5524/pcs/files-pane.pper
.Rproj.user/CA2E5524/pcs/source-pane.pper
.Rproj.user/CA2E5524/pcs/windowlayoutstate.pper
.Rproj.user/CA2E5524/pcs/workbench-pane.pper
.Rproj.user/CA2E5524/rmd-outputs
.Rproj.user/CA2E5524/saved_source_markers
.Rproj.user/CA2E5524/sources/prop/0E4D1F7A
.Rproj.user/CA2E5524/sources/prop/61AAB69E
.Rproj.user/CA2E5524/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rhistory
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/lock_file
01-GettingStaRted/.Rproj.user/shared/notebooks/patch-chunk-names
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/5E164BC0
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/INDEX
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-5F63E304/8C2640B1
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-5F63E304/8C2640B1-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-5F63E304/lock_file
01-GettingStaRted/.Rproj.user/shared/notebooks/paths
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/s/chunks.json
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/8A371A36-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/8A371A36
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/5E588BC2-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/5E588BC2
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/2D245CB7
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/2B2E93FF
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/11F8850B
01-GettingStaRted/.Rproj.user/CA2E5524/sources/per/t/E1BB0088-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/per/t/E1BB0088
01-GettingStaRted/.Rproj.user/CA2E5524/saved_source_markers
01-GettingStaRted/.Rproj.user/CA2E5524/rmd-outputs
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/workbench-pane.pper
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/windowlayoutstate.pper
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/source-pane.pper
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/files-pane.pper
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/s/csetup_chunk/00000f.csv
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/s/cpgrg48dkh4u5/00000f.rdf
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/s/cpgrg48dkh4u5/00000f.metadata
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/s/c21dozqbvwhak/000011.csv
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/CA2E55249AA24FBA/chunks.json
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/B09A2A6A-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/B09A2A6A
01-GettingStaRted/.Rproj.user/CA2E5524/jobs/DCC837F5-output.json
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/A3000734-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/7B8F30A7
01-GettingStaRted/.Rproj.user/CA2E5524/jobs/3F1FAE55-output.json
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/0997177C
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/1EEFBDBB
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/80EB8907
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/8648C704
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/8B9613D8
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/B078265C
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/E379E59E
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/E481D8DB
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/EC9D3A26
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/F9CAEF9E
02-BasicStatistics/.Rproj.user/CA2E5524/sources/prop/INDEX
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/13F94F2F-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/15A653E4-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/1C33C1AA-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/20A33166-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/285DAE4C-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/760D013C-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/9FAD19F3-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/A3D6B880
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/A3D6B880-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/BD41B02D-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/C99E6954
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/C99E6954-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/CEF491BD-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/E567891B-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/F98C82D9-contents
02-BasicStatistics/.Rproj.user/CA2E5524/sources/s-C0200FA8/lock_file
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/CA2E5524C0200FA8/chunks.json
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c2zpclcd6gvrl/00000f.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c2zpclcd6gvrl/000010.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c2zpclcd6gvrl/000010.png
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c2zpclcd6gvrl/000010.snapshot
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c77l8i7he5ri7/000011.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c86r6cim6qsi8/000019.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c86r6cim6qsi8/000019.png
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/c86r6cim6qsi8/000019.snapshot
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/chunks.json
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cia36ar64sesr/00000f.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cia36ar64sesr/000010.html
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cia36ar64sesr/000010.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cia36ar64sesr/000011.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/ckanp647tgj0l/000011.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/ckanp647tgj0l/000012.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/ckanp647tgj0l/000012.png
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/ckanp647tgj0l/000012.snapshot
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cm1ub5cespdtb/000011.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cngv9g8r5ud18/00000b.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cngv9g8r5ud18/00000d.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cngv9g8r5ud18/00000e.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cngv9g8r5ud18/00000e.png
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/cngv9g8r5ud18/00000e.snapshot
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/crlfktp6ixik1/000003.metadata
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/crlfktp6ixik1/000003.png
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/crlfktp6ixik1/000003.snapshot
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/csetup_chunk/00000f.csv
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/css/crosstalk.min.css
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/js/crosstalk.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/js/crosstalk.js.map
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/js/crosstalk.min.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/js/crosstalk.min.js.map
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/crosstalk-1.2.0/scss/crosstalk.scss
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/htmlwidgets-1.5.4/htmlwidgets.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/jquery-3.5.1/jquery-AUTHORS.txt
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/jquery-3.5.1/jquery.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/jquery-3.5.1/jquery.min.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/jquery-3.5.1/jquery.min.map
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/plotly-binding-4.10.0/plotly.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/plotly-htmlwidgets-css-2.5.1/plotly-htmlwidgets.css
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/plotly-main-2.5.1/plotly-latest.min.js
02-BasicStatistics/.Rproj.user/shared/notebooks/60F98BB1-BasicStatistics/1/s/lib/typedarray-0.1/typedarray.min.js
02-BasicStatistics/.Rproj.user/shared/notebooks/CEF3105E-InclassExercise1/1/CA2E5524C0200FA8/chunks.json
02-BasicStatistics/.Rproj.user/shared/notebooks/CEF3105E-InclassExercise1/1/s/chunks.json
02-BasicStatistics/.Rproj.user/shared/notebooks/patch-chunk-names
02-BasicStatistics/.Rproj.user/shared/notebooks/paths
