
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/49FBB69E-contents
ECO6416/.Rproj.user/CA2E5524/sources/prop/0E4D1F7A
ECO6416/.Rproj.user/CA2E5524/sources/prop/61AAB69E
ECO6416/.Rproj.user/CA2E5524/sources/prop/INDEX
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/5A9AD4D6-contents
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/9A244374-contents
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/E41E6BD1-contents
ECO6416/.Rproj.user/CA2E5524/sources/s-F09617D9/lock_file
ECO6416/.Rproj.user/shared/notebooks/patch-chunk-names
ECO6416/.Rproj.user/shared/notebooks/paths
.Rproj.user/CA2E5524/pcs/files-pane.pper
.Rproj.user/CA2E5524/pcs/source-pane.pper
.Rproj.user/CA2E5524/pcs/windowlayoutstate.pper
.Rproj.user/CA2E5524/pcs/workbench-pane.pper
.Rproj.user/CA2E5524/rmd-outputs
.Rproj.user/CA2E5524/saved_source_markers
.Rproj.user/CA2E5524/sources/prop/0E4D1F7A
.Rproj.user/CA2E5524/sources/prop/61AAB69E
.Rproj.user/CA2E5524/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rhistory
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/lock_file
01-GettingStaRted/.Rproj.user/shared/notebooks/patch-chunk-names
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/5E164BC0
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/INDEX
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-5F63E304/8C2640B1
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-5F63E304/8C2640B1-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-5F63E304/lock_file
01-GettingStaRted/.Rproj.user/shared/notebooks/paths
01-GettingStaRted/.Rproj.user/shared/notebooks/2824F3A7-GettingStaRted/1/s/chunks.json
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/8A371A36-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/8A371A36
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/5E588BC2-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/s-9AA24FBA/5E588BC2
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/2D245CB7
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/2B2E93FF
01-GettingStaRted/.Rproj.user/CA2E5524/sources/prop/11F8850B
01-GettingStaRted/.Rproj.user/CA2E5524/sources/per/t/E1BB0088-contents
01-GettingStaRted/.Rproj.user/CA2E5524/sources/per/t/E1BB0088
01-GettingStaRted/.Rproj.user/CA2E5524/saved_source_markers
01-GettingStaRted/.Rproj.user/CA2E5524/rmd-outputs
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/workbench-pane.pper
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/windowlayoutstate.pper
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/source-pane.pper
01-GettingStaRted/.Rproj.user/CA2E5524/pcs/files-pane.pper
